.closedSpace {
    height: 323px;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}
    .closedSpace img{
        width:100px;
        cursor: pointer;
    }

    .closedSpace p{
        color: white;
        margin: 5px auto;
    }
