.cal-template{
    background-color:#3B3832;
    display: flex;
    flex-direction: column;
    width: 234px;
    height: 323px;
    border-radius: 6px;
    box-shadow: 0 13px 16px rgba(0, 0, 0, 0.219), 0 13px 16px rgba(0,0,0,0.23); 
}
.cal-form-wrapper{
    width: 100%;
    height: 57px;
    display: flex;
}
    .valueStyle{
        flex: 1;
        margin: 4px 15px;
        text-align: right;
        font-size: 40px;
        color: white;
    }
.cal-btns-wrapper{
    flex:1;
} 